{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-3" style="max-width: 300px;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#todasTarefas" role="tab" aria-controls="v-pills-profile" aria-selected="false">Todas as Tarefas</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#stats" role="tab" aria-controls="v-pills-settings" aria-selected="false">Estatísticas</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
    <!-- Tarefas Hoje -->
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <form action="{% url 'atualizaTarefa' %}" method="post" id="tarefasRecentes">
            {% csrf_token %}
                  <div id="tarefasHoje">
                    <h2>Hoje</h2>
                    {% for tarefa in tarefasHoje %}
                        <p><input class="mr-2" type="checkbox" id="{{ tarefa.id }}" name="{{ tarefa.id }}" {% if tarefa.finalizado == True %} checked {% endif %} onchange="document.getElementById('tarefasRecentes').submit()"><label for="{{ tarefa.id }} ">{{ tarefa.tarefa }}</label></p>
                    {% endfor %}
                  </div>

                  <div id="tarefasAmanha">
                    <h2>Amanhã</h2>
                        {% for tarefa in tarefasAmanha %}
                            <p><input class="mr-2" type="checkbox" id="{{ tarefa.id }}" name="{{ tarefa.id }}" {% if tarefa.finalizado == True %} checked {% endif %} onchange="document.getElementById('tarefasRecentes').submit()"><label for="{{ tarefa.id }} ">{{ tarefa.tarefa }}</label></p>
                        {% endfor %}
                  </div>


            </form>
      </div>
    <!-- Todas Tarefas -->
      <div class="tab-pane fade" id="todasTarefas" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <form action="{% url 'atualizaTarefa' %}" method="post" id="todasTarefasForm">
          {% csrf_token %}
          <input type="submit" id="atualizaTarefa" value="Atualizar">
          <div class="container" >


            {% for diaSemana in diasSemana %}
                <div class="form-group">
                    <h6 style="margin-left: 20px">{{ diaSemana }}</h6>
                     <div class="card" >
                            <div class="content" >
                                    <div style="overflow-y: auto; max-height: 350px;">
                                     {% for tarefa in tarefas %}
                                            {% if tarefa.dia_da_semana == diaSemana %}
                                                <p><input class="mr-2" type="checkbox" id="{{ tarefa.id }}" name="{{ tarefa.id }}" {% if tarefa.finalizado == True %} checked {% endif %}><label for="{{ tarefa.id }} ">{{ tarefa.tarefa }}</label></p>
                                            {% endif %}
                                     {% endfor %}
                            </div>
                                <a href="{% url 'editaTarefas' diaSemana %}"><span>Editar Tarefas</span></a>
                            </div>
                    </div>
                </div>
            {% endfor %}
          </div>
          </form>
      </div>
    <!-- Statics -->
      <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
</div>


{% endblock %}